@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Hind', sans-serif;
    background: linear-gradient(rgba(15, 15, 15, 0.932),rgba(27, 32, 28, 0.904)), url(../Imagens/Fundo.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-position-y:0px ;
    background-attachment: fixed;
}
